on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: convert-xml

jobs:
  convert-xml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - run: |
          git clone --depth=1 https://github.com/omajid/exitwp-for-hugo.git
          sudo apt -qq -y install libxml2-utils > /dev/null
          cd exitwp-for-hugo
          pip install --upgrade -r pip_requirements.txt
          ../build.sh
